.button {
  color: #ffffff;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--primary);
  border-radius: 30px;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  transition:
    color var(--transition-delay),
    background-color var(--transition-delay),
    border-color var(--transition-delay);
}

.button:hover {
  color: var(--primary);
  background-color: #ffffff;
  border-color: var(--primary);
}

.button_dark {
  composes: button;
  border: 1px solid #ffffff;
}


@media screen and (max-width: 767px) {
  .button {
    padding: 14px 0;
    font-size: 14px;
  }
}