.reviews {
  margin-top: 180px;
  color: var(--primary);
  display: flex;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  height: 772px;
  background-color: var(--grey);
}

.container {
  width: var(--container);
}

.layout {
  padding: 48px 120px;
}

.reviews h1 {
  font-size: 42px;
  font-weight: 700;
}

.screenshots {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background-color: var(--primary);
}

.controls button:first-child {
  transform: rotate(180deg);
}

.controls button:hover {
  cursor: pointer;
}
