.promo {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 80px 80px;
  transition: background var(--transition-delay);
}

.container {
  width: var(--container);
  display: flex;
  height: 100vh;
  z-index: 1;
}

.layout {
  display: flex;
  padding: 0 120px;
}

.left {
  align-self: flex-end;
  margin-bottom: 120px;
  width: 384px;
  color: #ffffff;
}

.left p {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.right {
  color: var(--primary);
  width: 315px;
  margin-left: 430px;
  margin-top: 180px;
}

.right h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.right p {
  font-size: 24px;
  font-weight: 500;
}
