.tourist {
  padding-top: 95px;
  display: flex;
  justify-content: center;
}

.container {
  width: var(--container);
}

.layout {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  margin-top: 48px;
  color: var(--primary);
  display: flex;
  flex-direction: column;
}

.content h2 {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.content p {
  margin: 0;
  align-self: flex-end;
  width: 725px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.content a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 700;
  padding-left: 4px;
}

.link:hover {
  text-decoration: underline;
}

.documents {
  align-self: flex-end;
  width: 725px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.document {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.document:hover .name {
  text-decoration: underline;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 38px;
}

.name {
  color: var(--primary);
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.info {
  color: var(--extra-grey);
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1439px) {
  .layout {
    padding: 0 80px;
  }

  .tourist {
    padding-top: 75px;
  }

  .content p,
  .documents {
    margin-top: 24px;
    align-self: flex-start;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .layout {
    padding: 0 32px;
  }

  .tourist {
    padding-top: 55px;
  }

  .content h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .layout {
    padding: 0 12px;
  }

  .tourist {
    padding-top: 35px;
  }

  .content p {
    margin-top: 8px;
    font-size: 14px;
    width: 100%;
  }

  .description {
    margin-left: 16px;
  }
}
