.about {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.container {
  width: var(--container);
}

.layout {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  width: 487px;
}

.title {
  width: 487px;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.text > p {
  font-size: 16px;
  font-weight: 500;
}

.photo {
  position: absolute;
  right: 120px;
  bottom: 0;
  width: 627px;
}

.background {
  right: 0;
  position: absolute;
  bottom: 0;
  background-color: var(--grey);
  width: 588px;
  height: 503px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1439px) {
  .layout {
    padding: 0 80px;
  }

  .title {
    width: 100%;
  }

  .text {
    width: 50%;
  }

  .photo {
    width: 420px;
    right: 80px;
  }

  .background {
    width: 420px;
    height: 400px;
  }

  .img {
    width: 420px;
    height: 450px;
  }
}

@media screen and (max-width: 1023px) {
  .layout {
    padding: 0 32px;
  }

  .title {
    font-size: 32px;
    margin: 0;
  }

  .photo {
    position: relative;
    height: 450px;
    width: 100%;
    left: auto;
    right: auto;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 400px;
  }

  .img {
    position: absolute;
    width: 420px;
    left: calc(50% - 420px / 2);
    height: 450px;
  }

  .text {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 50px;
  }


  .layout {
    padding: 0 12px;
  }

  .title {
    font-size: 20px;
  }

  .photo {
    height: 310px;
  }

  .background {
    height: 270px;
  }

  .img {
    width: 296px;
    height: 303px;
    left: calc(50% - 296px / 2);
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }
}
