.footer {
  margin-top: 180px;
  border-radius: 80px 80px 0 0;
  background-color: var(--grey);
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under_footer {
  display: flex;
  background-color: var(--primary);
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--extra-grey);
}

.layout_footer {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.under_footer .nav {
  margin: 0;
  padding: 0;
}

.under_footer .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_footer .list {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.under_footer .link {
  width: auto;
}

.under_footer .link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.container {
  width: var(--container);
}

.layout {
  padding: 48px 120px;
  display: flex;
  flex-direction: column;
}

.footer h1 {
  margin: 0 0 40px 0;
  font-size: 42px;
  font-weight: 700;
  color: var(--primary);
  cursor: default;
}

.left,
.right {
  width: 484px;
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts .text {
  margin: 0 0 40px 0;
  font-size: 24px;
  font-weight: 500;
  color: var(--extra-grey);
  cursor: default;
}

.phone {
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.email {
  margin-top: 24px;
  composes: phone;
}

.phone:hover,
.email:hover {
  text-decoration: underline;
}

.footer h4 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  cursor: default;
}

.socials {
  display: flex;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.link > p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
}

.link:hover > p {
  text-decoration: underline;
}

.telegram,
.whatsup,
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--primary);
}

.notice {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 500;
  color: var(--extra-grey);
}
