.footer {
  margin-top: 180px;
  border-radius: 80px 80px 0 0;
  background-color: var(--grey);
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--container);
}

.layout {
  padding: 48px 120px;
  display: flex;
  flex-direction: column;
}

.footer h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  color: var(--primary);
}

.left {
  width: 484px;
}

.contacts {
  display: flex;
}

.contacts .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--extra-grey);
}

.phone {
  display: block;
  margin-top: 40px;
  color: var(--primary);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.email {
  display: block;
  margin-top: 24px;
  color: var(--primary);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.phone:hover,
.email:hover {
  text-decoration: underline;
}

.footer h4 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
}

.socials {
  display: flex;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.link > p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
}

.telegram,
.whatsup,
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--primary);
}

.notice {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 500;
  color: var(--extra-grey);
}
