@import "normalize.css";


:root {
  --background: #f3f7ff;
  --grey: #e2eaf8;
  --extra-grey: #8193bd;
  --primary: #06266f;
  --main: #857543;
  --error: #FF0E0E;
  --container: 1440px;
  --transition-delay: 0.3s ease;
}

* {
  font-family: "Raleway", sans-serif;
  scrollbar-width: none;
  scrollbar-color: var(--primary);
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--primary);
}

@media screen and (max-width: 1439px) {
  :root {
    --container: 100vw;
  }
}
