.season {
    padding-top: 95px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: var(--container);
  }
  
  .layout {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    position: relative;
  }