.season {
    padding-top: 95px;
    display: flex;
    color: var(--primary);
    justify-content: center;
  }
  
  .container {
    width: var(--container);
  }
  
  .layout {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .season h1 {
    margin: 24px 0 0 0;
    padding: 0;
    font-size: 42px;
    font-weight: 700;
  }

  .intro {
    width: 970px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
  }

  @media screen and (max-width: 1439px) {
    .layout {
      padding: 0 80px;
    }
  
    .season {
      padding-top: 75px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .layout {
      padding: 0 32px;
    }
  
    .season {
      padding-top: 55px;
    }
  
    .season h1 {
      font-size: 32px;
    }
  
    .intro {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .layout {
      padding: 0 12px;
    }
  
    .season {
      padding-top: 35px;
    }
  
    .season h1 {
      font-size: 20px;
    }
  
    .intro {
      margin-top: 16px;
      font-size: 14px;
    }
  }
