.form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.checkbox {
  margin-top: 16px;
  display: flex;
  height: 40px;
  align-items: center;
}

.policy {
  font-weight: 500;
  font-size: 12px;
  color: var(--extra-grey);
  line-height: 14px;
}
